/* src/App.css */
.App {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f9;
  min-height: 100vh;
}

.parking-lots {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}